<a href="https://colab.research.google.com/github/Harshitha412/3-7-2020-assignment/blob/master/Untitled40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#what is a dictionary in python?explain with an example
#explination
*it is a collection of key and value pairs seperated by a colon(:),enclosed in curly braces{}
*dictionary is mutable data type in python
#example
mydict={'collage name':'gitam','year':1,'branch':'cse'}
print("year is:",mydict['year'])
print("branch is:",mydict['branch'])

year is: 1
branch is: cse

In [ ]:
#python program to sum all the items in a list
def sum_list(items):
   sum_numbers = 0
   for x in items:
     sum_numbers +=x
   return sum_numbers
print(sum_list([4,9,-3,2]))

12

In [ ]:
#python program to create a list of empty dictionaries
n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [ ]:
#python program to access dictionary keys element by index
num = {'c':63,'java':71,'ds':59,'python':98,'c++':84}
print(list(num)[0])

c

In [ ]:
#python program to iterate over dictionaries using for loops
d = {'red':1,'green':2,'blue':3}
for color_key,value in d.items():
    print(color_key,'corresponds to',d[color_key])

red corresponds to 1
green corresponds to 2
blue corresponds to 3

In [ ]:
#python program python program to sum all the items in a dictionary
my_dict = {'data1':98,'data2':-42,'data3':78,'data4':40}
print(sum(my_dict.values()))

174

In [ ]:
#python script to concatenate two dictionaries to create a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#python program to create a tuple
tuplex = 5,10,20,7,32 #creating a tuple with numbers
print(tuplex)
tuplex = 5, #creating a tuple of one item
print(tuplex)

(5, 10, 20, 7, 32)
(5,)

In [ ]:
#python program to create a tuple with different data types
tuplex = ("tuple",True,4.3,1)
print(tuplex)

('tuple', True, 4.3, 1)

In [ ]:
#python program to covert a tuple to a string
tuple = ('g','i','t','a','m','u','n','i','v','e','r','s','i','t','y')
str = ''.join(tuple)
print(str)

gitamuniversity

In [ ]:
#python program to slice a tuple
tuplex = (2,4,3,5,4,6,7,8,6,1)
slice = tuplex[3:5]
print(slice)
slice = tuplex[:6]
print(slice)
slice = tuplex[:]
print(slice)
tuplex = ("STUDENT DEVELOPMENT PROGRAM")
print(tuplex)

(5, 4)
(2, 4, 3, 5, 4, 6)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
STUDENT DEVELOPMENT PROGRAM

In [ ]:
#python program to find length of the tuple
tuplex=("bengaluru")
print(tuplex)
print(len(tuplex))

bengaluru
9

In [ ]:
#python program to convert a tuple to a dictionary
tuplex = ((2,"w"),(3,"r"),(4,"g"))
print(dict((y,x)for x,y in tuplex))

{'w': 2, 'r': 3, 'g': 4}

In [3]:
#python program to reverse a tuple
x = ("gitam")
y = reversed(x)
print(tuple(y))
x = (5,10,15,20)
y = reversed(x)
print(tuple(y))

('m', 'a', 't', 'i', 'g')
(20, 15, 10, 5)

In [ ]:
#python program to convert a list of tuples into a dictionary
l = [("x",1),("x",2),("y",1),("y",2),("z",1),("z",2)]
d = {}
for a,b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2], 'y': [1, 2], 'z': [1, 2]}

In [2]:
#python program to convert a list to a tuple
listx = [5,10,7,4,15,3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)